<!DOCTYPE html>
<html lang="en">

<head>
	<title>My First App VueJS</title>
	<!--<link rel="stylesheet" href="./styles.css" /> -->
</head>


<body>


	<div id="app">
		<h1>
			P2 VueJS
		</h1>
		<p>
			Let's show some data
		</p>
		<ul>

			<li>
				Name: {{name}}
				<input type='text' v-model="name" />
			</li>
			<li>Age: {{age}},</li>
			<li>Human: {{human}},</li>
			<li>Clothes: {{clothes}},</li>
			<li>IdentityCard:
				<ul>
					<li>Number: {{identityCard.number }},</li>
					<li>Type: {{identityCard.type}}</li>
				</ul>
			</li>
			<li>Number of boats: {{getTotalBoats}},</li>

			<li>Type of boats:
				<ul>
					<li v-for=" boat in boatList">
						<a> {{boat.type}} {{boat.name}}</a>
					</li>
				</ul>
			</li>
		</ul>

		<div>
			<button v-on:click="alertHelloWorld('Bonjour')">Cliquez ici !</button>
			<input type='text' @keyup.enter="changeMessage" />
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Contenu temporairement caché pour cet exemple ,-->
	<script>
		const app = new Vue({
			el: '#app',
			data: {
				name: 'Bdu',
				age: 99,
				human: true,
				clothes: ['teeShirt', 'pants'],
				identityCard: {
					number: 010203,
					type: 'citizen'
				},
				boatYatch: 1,
				boatSail: 2,
				message: 'Hello World',

				boatList: [
					{ type: 'yatch', name: 'A' },
					{ type: 'sail', name: 'B' },
					{ type: 'sail', name: 'C' }
				]
			},

			computed: {
				getTotalBoats: function () {
					return this.boatYatch + this.boatSail
				},

				getMesage: function () {
					return this.message
				}
			},


			methods: {
				alertHelloWorld(sendMsg) {
					alert(sendMsg + '  ' + this.message)
				},

				changeMessage() {
					this.message = 'success change msg'
					this.alertHelloWorld(this.message)
				}
			}
		})
	</script>


</body>

</html>